@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
    .custom-scrollbar {
        /* Hide scrollbar for IE, Edge, and Firefox */
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
      }
      
      .custom-scrollbar::-webkit-scrollbar {
        display: none;  /* Safari and Chrome */
      }
}